
header{
	text-align: center;
	color: #55715c;
	background-color :#e2e9e4;
	width: 80%;
	margin: auto;
}
section{
	width: 80%;
	margin: auto;
	background-color: #e3e4ad;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.blockPhoto{
	padding: 5px 5px 5px 5px;
	border:1px white solid;	
	margin: auto;
	margin-top: 15px;
}
img{
	width: 200px;
	heigth: auto;	
}